parameters:
    level: 8
    paths:
        - challenges/session-01/src
        - challenges/session-02/src
        - challenges/session-03/src
    excludePaths:
        - challenges/session-01/tests
        - challenges/session-02/tests
        - challenges/session-03/tests
    ignoreErrors:
        - '#Call to an undefined method#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
